.slick{
    border-bottom: 2.25rem solid $rojo;
}
.pasos{
    padding: 2rem 0;
    @include flexbox();
    @include justify-content(space-around);
    .item{
        width: 28%;
        img.paso_img{
            width: calc(100% - 0.4rem);
            -webkit-box-shadow: 0.4rem 1rem 0px 0px $rojo;
            -moz-box-shadow: 0.4rem 1rem 0px 0px $rojo;
            box-shadow: 0.4rem 1rem 0px 0px $rojo;
            margin-bottom: 2rem;
        }
        .info{
            height: 3.75rem;
            background: $color_vino;
            @include flexbox();
            @include align-items(center);
            img{
                height: 100%;
                width: auto;
                margin-right: 0.5rem;
            }
            color: #fff;
            text-transform: uppercase;
        }
        p{
           text-align: center;
           //padding: 2rem 0; 
        }
    }
    @media only screen and (max-width:640px){
        display: block;
        .item{
            width: 80%;
            margin: 0 auto 2rem auto;
        }
    }
}
.popular{
    background: $color_vino;
    padding: 0.8rem 0;
    h2{
        margin: 0;
        font-size: 2.25rem;
        padding: 0.5rem 1rem;
        background: #fff;
        color: $rojo;
        display: inline-block;
    }
    ul{
        @include flexbox();
        @include justify-content(space-evenly);
        @include ul_limpio();
        padding-top: 1.5rem;
        li{
            width: 20%;
            padding-top: 50px;
            background-repeat: no-repeat;
            background-size: auto 52px;
            &:nth-child(odd){
                background-image: url(../img/gota1.svg)
            }
            &:nth-child(even){
                background-image: url(../img/gota2.svg)
            }
            p{
                color: #fff;
            }
        }
    }
}
